body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    background-color: #024995;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px auto;
    max-width: 800px;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}
